<ion-header>
    <ion-navbar color="white">
        <ion-title><span translate>Tutorfy</span></ion-title>
        <ion-buttons end>
            <button ion-button icon-only>
                <ion-icon name="search" color="gray"></ion-icon>
            </button>
            <button ion-button>
                <img width="27" height="27" style="border-radius: 49.9%;" src="https://scontent-syd2-1.xx.fbcdn.net/v/t31.0-8/340984_257957224248803_991986586_o.jpg?oh=584fdf07a8913cd27de7e1b2bd645bd7&oe=5A13C7B5">
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-item>
            <ion-avatar item-start>
                <img src="https://scontent-syd2-1.xx.fbcdn.net/v/t1.0-9/11666208_884964048217239_6010246694004036225_n.jpg?oh=6a25c871b997f5547c51f32f74c58940&oe=5A5CABED">
            </ion-avatar>
            <h2>Jamieson Keevers</h2>
            <p><ion-icon color="gold" name="star"></ion-icon><ion-icon color="gold" name="star"></ion-icon><ion-icon color="gold" name="star"></ion-icon><ion-icon color="gold" name="star"></ion-icon><ion-icon color="gold" name="star-outline"></ion-icon></p>
        </ion-item>
        <ion-card-content>
            <p class="subjects">Maths / Geography</p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet ante ut purus viverra molestie in ac leo. Ut blandit quam eget est posuere, eget convallis odio accumsan.
        </ion-card-content>       
    </ion-card>

    <ion-card>
        <ion-item>
            <ion-avatar item-start>
                <img src="https://scontent-syd2-1.xx.fbcdn.net/v/t31.0-8/11133989_594001374076228_8921485902932236639_o.jpg?oh=c03359504b17c22906fd9f8b5ed8119b&oe=5A1977DB">
            </ion-avatar>
            <h2>Ethan Mitchell</h2>
            <p><ion-icon color="gold" name="star"></ion-icon><ion-icon color="gold" name="star"></ion-icon><ion-icon color="gold" name="star"></ion-icon><ion-icon color="gold" name="star"></ion-icon><ion-icon color="gold" name="star-outline"></ion-icon></p>
        </ion-item>
        <ion-card-content>
            <p class="subjects">Maths / Geography</p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet ante ut purus viverra molestie in ac leo. Ut blandit quam eget est posuere, eget convallis odio accumsan.
        </ion-card-content>       
    </ion-card>

    <ion-card>
        <ion-item>
            <ion-avatar item-start>
                <img src="https://scontent-syd2-1.xx.fbcdn.net/v/t31.0-8/340984_257957224248803_991986586_o.jpg?oh=584fdf07a8913cd27de7e1b2bd645bd7&oe=5A13C7B5">
            </ion-avatar>
            <h2>Mitchell Dunn</h2>
            <p><ion-icon color="gold" name="star"></ion-icon><ion-icon color="gold" name="star"></ion-icon><ion-icon color="gold" name="star"></ion-icon><ion-icon color="gold" name="star"></ion-icon><ion-icon color="gold" name="star-outline"></ion-icon></p>
        </ion-item>
        <ion-card-content>
            <p class="subjects">Maths / Geography</p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet ante ut purus viverra molestie in ac leo. Ut blandit quam eget est posuere, eget convallis odio accumsan.       
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-item>
            <ion-avatar item-start>
                <img src="https://scontent-syd2-1.xx.fbcdn.net/v/t1.0-9/11666208_884964048217239_6010246694004036225_n.jpg?oh=6a25c871b997f5547c51f32f74c58940&oe=5A5CABED">
            </ion-avatar>
            <h2>Jamieson Keevers</h2>
            <p><ion-icon color="gold" name="star"></ion-icon><ion-icon color="gold" name="star"></ion-icon><ion-icon color="gold" name="star"></ion-icon><ion-icon color="gold" name="star"></ion-icon><ion-icon color="gold" name="star-outline"></ion-icon></p>
        </ion-item>
        <ion-card-content>
            <p class="subjects">Maths / Geography</p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet ante ut purus viverra molestie in ac leo. Ut blandit quam eget est posuere, eget convallis odio accumsan.
        </ion-card-content>       
    </ion-card>

    <ion-card>
        <ion-item>
            <ion-avatar item-start>
                <img src="https://scontent-syd2-1.xx.fbcdn.net/v/t31.0-8/11133989_594001374076228_8921485902932236639_o.jpg?oh=c03359504b17c22906fd9f8b5ed8119b&oe=5A1977DB">
            </ion-avatar>
            <h2>Ethan Mitchell</h2>
            <p><ion-icon color="gold" name="star"></ion-icon><ion-icon color="gold" name="star"></ion-icon><ion-icon color="gold" name="star"></ion-icon><ion-icon color="gold" name="star"></ion-icon><ion-icon color="gold" name="star-outline"></ion-icon></p>
        </ion-item>
        <ion-card-content>
            <p class="subjects">Maths / Geography</p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet ante ut purus viverra molestie in ac leo. Ut blandit quam eget est posuere, eget convallis odio accumsan.
        </ion-card-content>       
    </ion-card>

    <ion-card>
        <ion-item>
            <ion-avatar item-start>
                <img src="https://scontent-syd2-1.xx.fbcdn.net/v/t31.0-8/340984_257957224248803_991986586_o.jpg?oh=584fdf07a8913cd27de7e1b2bd645bd7&oe=5A13C7B5">
            </ion-avatar>
            <h2>Mitchell Dunn</h2>
            <p><ion-icon color="gold" name="star"></ion-icon><ion-icon color="gold" name="star"></ion-icon><ion-icon color="gold" name="star"></ion-icon><ion-icon color="gold" name="star"></ion-icon><ion-icon color="gold" name="star-outline"></ion-icon></p>
        </ion-item>
        <ion-card-content>
            <p class="subjects">Maths / Geography</p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet ante ut purus viverra molestie in ac leo. Ut blandit quam eget est posuere, eget convallis odio accumsan.       
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-item>
            <ion-avatar item-start>
                <img src="https://scontent-syd2-1.xx.fbcdn.net/v/t1.0-9/11666208_884964048217239_6010246694004036225_n.jpg?oh=6a25c871b997f5547c51f32f74c58940&oe=5A5CABED">
            </ion-avatar>
            <h2>Jamieson Keevers</h2>
            <p><ion-icon color="gold" name="star"></ion-icon><ion-icon color="gold" name="star"></ion-icon><ion-icon color="gold" name="star"></ion-icon><ion-icon color="gold" name="star"></ion-icon><ion-icon color="gold" name="star-outline"></ion-icon></p>
        </ion-item>
        <ion-card-content>
            <p class="subjects">Maths / Geography</p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet ante ut purus viverra molestie in ac leo. Ut blandit quam eget est posuere, eget convallis odio accumsan.
        </ion-card-content>       
    </ion-card>

    <ion-card>
        <ion-item>
            <ion-avatar item-start>
                <img src="https://scontent-syd2-1.xx.fbcdn.net/v/t31.0-8/11133989_594001374076228_8921485902932236639_o.jpg?oh=c03359504b17c22906fd9f8b5ed8119b&oe=5A1977DB">
            </ion-avatar>
            <h2>Ethan Mitchell</h2>
            <p><ion-icon color="gold" name="star"></ion-icon><ion-icon color="gold" name="star"></ion-icon><ion-icon color="gold" name="star"></ion-icon><ion-icon color="gold" name="star"></ion-icon><ion-icon color="gold" name="star-outline"></ion-icon></p>
        </ion-item>
        <ion-card-content>
            <p class="subjects">Maths / Geography</p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet ante ut purus viverra molestie in ac leo. Ut blandit quam eget est posuere, eget convallis odio accumsan.
        </ion-card-content>       
    </ion-card>

    <ion-card>
        <ion-item>
            <ion-avatar item-start>
                <img src="https://scontent-syd2-1.xx.fbcdn.net/v/t31.0-8/340984_257957224248803_991986586_o.jpg?oh=584fdf07a8913cd27de7e1b2bd645bd7&oe=5A13C7B5">
            </ion-avatar>
            <h2>Mitchell Dunn</h2>
            <p><ion-icon color="gold" name="star"></ion-icon><ion-icon color="gold" name="star"></ion-icon><ion-icon color="gold" name="star"></ion-icon><ion-icon color="gold" name="star"></ion-icon><ion-icon color="gold" name="star-outline"></ion-icon></p>
        </ion-item>
        <ion-card-content>
            <p class="subjects">Maths / Geography</p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet ante ut purus viverra molestie in ac leo. Ut blandit quam eget est posuere, eget convallis odio accumsan.       
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-item>
            <ion-avatar item-start>
                <img src="https://scontent-syd2-1.xx.fbcdn.net/v/t1.0-9/11666208_884964048217239_6010246694004036225_n.jpg?oh=6a25c871b997f5547c51f32f74c58940&oe=5A5CABED">
            </ion-avatar>
            <h2>Jamieson Keevers</h2>
            <p><ion-icon color="gold" name="star"></ion-icon><ion-icon color="gold" name="star"></ion-icon><ion-icon color="gold" name="star"></ion-icon><ion-icon color="gold" name="star"></ion-icon><ion-icon color="gold" name="star-outline"></ion-icon></p>
        </ion-item>
        <ion-card-content>
            <p class="subjects">Maths / Geography</p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet ante ut purus viverra molestie in ac leo. Ut blandit quam eget est posuere, eget convallis odio accumsan.
        </ion-card-content>       
    </ion-card>

    <ion-card>
        <ion-item>
            <ion-avatar item-start>
                <img src="https://scontent-syd2-1.xx.fbcdn.net/v/t31.0-8/11133989_594001374076228_8921485902932236639_o.jpg?oh=c03359504b17c22906fd9f8b5ed8119b&oe=5A1977DB">
            </ion-avatar>
            <h2>Ethan Mitchell</h2>
            <p><ion-icon color="gold" name="star"></ion-icon><ion-icon color="gold" name="star"></ion-icon><ion-icon color="gold" name="star"></ion-icon><ion-icon color="gold" name="star"></ion-icon><ion-icon color="gold" name="star-outline"></ion-icon></p>
        </ion-item>
        <ion-card-content>
            <p class="subjects">Maths / Geography</p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet ante ut purus viverra molestie in ac leo. Ut blandit quam eget est posuere, eget convallis odio accumsan.
        </ion-card-content>       
    </ion-card>

    <ion-card>
        <ion-item>
            <ion-avatar item-start>
                <img src="https://scontent-syd2-1.xx.fbcdn.net/v/t31.0-8/340984_257957224248803_991986586_o.jpg?oh=584fdf07a8913cd27de7e1b2bd645bd7&oe=5A13C7B5">
            </ion-avatar>
            <h2>Mitchell Dunn</h2>
            <p><ion-icon color="gold" name="star"></ion-icon><ion-icon color="gold" name="star"></ion-icon><ion-icon color="gold" name="star"></ion-icon><ion-icon color="gold" name="star"></ion-icon><ion-icon color="gold" name="star-outline"></ion-icon></p>
        </ion-item>
        <ion-card-content>
            <p class="subjects">Maths / Geography</p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet ante ut purus viverra molestie in ac leo. Ut blandit quam eget est posuere, eget convallis odio accumsan.       
        </ion-card-content>
    </ion-card>
</ion-content>
